<h1 class="test"></h1>
<h1 class="test2"></h1>
<div class="page-header">
  <%= image_tag "WTSlogo.png", height: '100'%>
</div>
<div ng-app='baseApp' ng-controller="IndexCtrl">
  <h1>The Current Round is: {{current_round}}</h1>
  <h2>Next Round (#{{current_round+1}}) is at: {{next_round}}</h2>
  <h2><span ng-show="rioters>0"># of Rioters: {{rioters}}</span>&nbsp</h2>

<div class="panel panel-default">
  <div class="panel-body">
    <div class="progress">
      <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="{{terror}}" aria-valuemin="-30" aria-valuemax="250" style="width: {{((terror+30)/2.8)}}%;
      background-color:{{getColor((terror+30)/250)}};">
        <div>Terror Level: {{terror}}</div>
      </div>
    </div>
  </div>
</div>
  <h1>Notice: "{{message}}"</h1>
  
  <h1 ng-if="paused">
  The round is currently paused.
  </h1>
  <div ng-hide="paused" class="my-clock"></div>
    <div id="game"></div>

</div>

<script type="text/javascript">
  var clock = $('.my-clock').FlipClock(<%= @time_til_next_round%>, {
    countdown: true,
    clockFace: 'MinuteCounter'
  });

var app = angular.module('baseApp', [])
  .controller('IndexCtrl', ['$scope','$interval','$http', '$location', function($scope, $interval,$http, $location){
    $scope.Math=Math;
    $scope.time_til_next_round = 3000;
  var apiCall = function(){
    $http.get('/status.json').
      success(function(data, status, headers, config) {
        $scope.current_round = data['game']['current_round'];
        $scope.next_round = data['next_round'];
        $scope.paused = data['game']['paused'];
        $scope.message = data['game']['control_message'];
        $scope.rioters = data['game']['rioters'];
        $scope.time_til_next_round = data['time_til_next_round'];
        $scope.terror = data['terror']
        clock.setTime($scope.time_til_next_round );
        if (data['nuclear_launch'])
        {
          window.location = '/launched'
        }
      });
    }
  $scope.getStatus = function(){
    apiCall();
  };
  $scope.getColor = function(value){
    //value from 0 to 1
    var hue=((1-value)*120).toString(10);
    return ["hsl(",hue,",75%,50%)"].join("");
}
  $scope.getStatus();
  $interval(function(){$scope.getStatus()}, 3000); 
}]);

// $(function(){
//     $(".test").typed({
//         strings: ["First sentence."],
//         typeSpeed: 100,
//         cursorChar:"",
//         onStringTyped:function(){ 
//    test2();
//         }
//     });
// });
// test2 = function(){
//     $(".test2").typed({
//         strings: ["Second sentence."],
//         typeSpeed: 100,
//         cursorChar:""
//     })};


</script>


