
<div ng-app='baseApp' ng-controller="IndexCtrl">
  <h1>The Current Round is: {{current_round}}</h1>
  <h2>Next Round is at: {{next_round}}</h2>
  <h2>The current terror level is {{terror}}.</h2>
  </br>
  <h1>Control Says: "{{message}}"</h1>
  
  <h1 ng-if="paused">
  The round is currently paused.
  </h1>
  <div ng-hide="paused" class="my-clock"></div>
    <div id="game"></div>

  <button ng-click="getStatus();">Refresh</button>
</div>
<script type="text/javascript">
  var clock = $('.my-clock').FlipClock(<%= @time_til_next_round%>, {
    countdown: true,
    clockFace: 'MinuteCounter'
  });

var app = angular.module('baseApp', [])
  .controller('IndexCtrl', ['$scope','$interval','$http', function($scope, $interval,$http){
    $scope.time_til_next_round = 3000;
  var apiCall = function(){
    $http.get('/status.json').
      success(function(data, status, headers, config) {
        $scope.current_round = data['game']['current_round'];
        $scope.next_round = data['next_round'];
        $scope.paused = data['game']['paused'];
        $scope.message = data['game']['control_message'];
        $scope.time_til_next_round = data['time_til_next_round'];
        $scope.terror = data['terror']
        clock.setTime($scope.time_til_next_round );
      });
    }
  $scope.getStatus = function(){
    apiCall();
  };
  $scope.getStatus();
  $interval(function(){$scope.getStatus()}, 3000); 
}]);
</script>


