<%= form_for(@launchstart) do |f| %>
  <% if @launchstart.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@launchstart.errors.count, "error") %> prohibited this launchstart from being saved:</h2>

      <ul>
      <% @launchstart.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
