// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.progress{
  height: 50px;

  div{
    font-weight: bold;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  }
}